@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'BMJUA';
    font-size: 13px;
}
body {
    margin: 0;
    padding: 0;
    background: #7986cb;
    color: white;
}
.title {
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}
.title-sub {
    text-align: center;
}